<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (errorMessage) { %>
                    <div>
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <section class="contact_form">
                            <h2>Login</h2>
                            <form action="/login" method="POST">
                                <div class="row">
                                    <input name="email" class="email1" type="text" placeholder="Email">
                                </div>
                                <div class="row">
                                    <input name="password" class="password" type="password" placeholder="Password">
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="row">
                                    <p>Don't have an account? Register Here</p>
                                    <p href="/reset">Forgot Password?</p>
                                </div>
                                <button style="margin:0 auto;
                                display:block;" type="submit" class="button">
                                    <a>Login</a>
                                </button>
                            </form>
                        </section>
            </main>
    </body>
    <%- include('../includes/end.ejs') %>