<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <section class="contact_form">
                <h2>Upload Product</h2>
                <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <input class="name" type="text" placeholder="Title" name="title" value="<% if (editing) { %><%= product.title %><% } %>">
                        <input class="email" type="number" name="price" id="price" step="0.01 " value="<% if (editing) { %><%= product.price %><% } %>" placeholder="Price">
                    </div>
                    <input type="file" name="image" id="image">

                    <textarea name="description" id="description" placeholder="Description"><% if (editing) { %><%= product.description %><% } %></textarea>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button style="margin:0 auto;
                                display:block;" type="submit" class="button">
                                    <a>Upload</a>
                    </button>
                </form>
            </section>

    </body>
    <%- include('../includes/end.ejs') %>