<%- include('../includes/head.ejs') %>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 200px;
            margin: auto;
            text-align: center;
            font-family: arial;
            padding: 5%
        }
        
        .price {
            color: grey;
            font-size: 22px;
        }
        
        .card button {
            border: none;
            outline: 0;
            padding: 5%;
            color: white;
            background-color: #7fad39;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }
        
        .card button:hover {
            opacity: 0.7;
        }
    </style>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <div class="sale">
                <div>
                    <h2>Product List</h2>
                    <span>________</span>
                </div>
                <% if (prods.length > 0) { %>
                    <div class="product_list">
                        <% for (let product of prods) {  %>

                            <div class="card">
                                <img src="/<%=product.imageUrl %>" alt="<%= product.title %>" style="width:100%">
                                <h2>
                                    <%= product.title %>
                                </h2>
                                <hr>
                                <p class="price">
                                    ₹
                                    <%= product.price %>
                                </p>
                                <br>
                                <a href="/admin/edit-product/<%= product._id %>?edit=true"><button>Edit</button></a>
                                <br>
                                <br>
                                <a><button onclick="deleteProduct(this)">Delete</button></a>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </div>
                            <% } %>

                    </div>
                    <% } %>

            </div>
    </body>

    <%- include('../includes/end.ejs') %>
        <script src='/js/admin.js'></script>