<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <section class="breadcrumb">
                <div>
                    <h2>Check Out</h2>
                    <h6><span>Order Now!</span></h6>
                </div>
            </section>
            <% if (products.length > 0) { %>
                <section class="cart">
                    <div class="title">
                        <h2>Products</h2>
                        <div>
                            <h2>Quantity</h2>
                        </div>
                    </div>
                    <% products.forEach(p => { %>
                        <div class="record">
                            <div class="image_holder">

                                <h4>
                                    <%= p.productId.title %>
                                </h4>
                            </div>
                            <div class="text_holder">
                                <h3>
                                    <%= p.quantity %>
                                </h3>
                            </div>
                        </div>
                        <% }) %>
                            <div class="final">
                                <div class="checkout">
                                    <h3>Cart Total</h3>
                                    <div class="subtotal">
                                        <span>Subtotal</span>
                                        <span class="sum"><%= totalSum%></span>
                                    </div>
                                    <div class="total">
                                        <span>Total</span>
                                        <span class="sum"><%= totalSum%></span>
                                    </div>
                                    <form action="/create-order" method="POST">
                                        <!-- <a href="javascript:;" title="Checkout">proceed to checkout</a> -->
                                        <script src=" https://checkout.stripe.com/checkout.js " class="stripe-button " data-key="pk_test_StfuT8InVYLKwt2VBYNVTSF700XdCKsqTU" data-amount="<%=totalSum %>" data-name="Your Order" data-description="All the items you ordered" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                            data-locale="auto" data-currency="inr">
                                        </script>
                                    </form>

                                </div>
                            </div>
                </section>
                <% } %>
                    <%- include('../includes/end.ejs') %>